<nav class="bg-[#00111C]">
  <div class="nav-wrapper">
    <div class="hidden md:block lg:block">
      <app-logo></app-logo>
    </div>

    <div class="sm:hidden">
      <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
        type="button" class="sidebar-button">
        <span class="sr-only">Open sidebar</span>
        <img [src]="menuIcons" alt="Open Sidebar" class="h-6 w-6" />
      </button>
    </div>

    <div class="flex space-x-1 items-center">
      <div>
        <app-search (clicked)="search($event)"></app-search>
      </div>
      <!-- <div>
        <app-dropdown-profile></app-dropdown-profile>
      </div> -->
      <div>
        <button (click)="favoritePage()" type="button">
          <img [src]="favIcon" class="fav flex items-center mt-2" alt="Favorite" />
        </button>
      </div>
      <div>
        <app-dropdown-i18n></app-dropdown-i18n>
      </div>
    </div>
  </div>
</nav>

<aside id="default-sidebar" class="sidebar transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar">
  <div>
    <ul >
      <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active" >
          <span>Home</span>
        </a>
      </li>
      <li *ngFor="let item of menuSidebar; let i = index">
        <button type="button" (click)="onClickMenu(i)" (keyup.enter)="onClickMenu(i)">
          <span>{{item.title}}</span>
        </button>
      </li>
    </ul>
  </div>
</aside>
