<ng-container>
  <app-hero [poster]="poster"></app-hero>

  <!-- Trending Section Start -->
  <section>
    <!-- Desktop Version Start -->
    <div class="hidden lg:block md:hidden">
      <div class="flex space-x-4 py-2">
        <div class="flex items-center">
          <h3 class="title" translate>
            app.trending
          </h3>
        </div>
        <div>
          <app-tabs [tabs]="tabs" [activeTabIndex]="activeTabIndex" (clicked)="setActiveTab($event)">
          </app-tabs>
        </div>
      </div>
      <div *ngIf="activeTabIndex === 0" class="lg:max-w-full overflow-x-auto">
        <div class="hidden lg:block md:hidden mb-2">
          <div class="flex space-x-4">
            <ng-container *ngFor="let movie of trending; let i = index; trackBy: trackByFn">
              <div>
                <app-movie-card [movies]="movie" (clicked)="onNavigate(movie.id)"></app-movie-card>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div *ngIf="activeTabIndex === 1" class="lg:max-w-full overflow-x-auto">
        <div class="hidden lg:block md:hidden mb-2">
          <div class="flex space-x-4">
            <ng-container *ngFor="let movie of trending; let i = index; trackBy: trackByFn">
              <div>
                <app-movie-card [movies]="movie" (clicked)="onNavigate(movie.id)"></app-movie-card>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- Desktop Version End -->

    <!-- Mobile Version Start -->
    <div *ngIf="menuId === 0 || isMediumSize">
      <div class="flex space-x-4 py-2 lg:hidden md">
        <div class="flex items-center">
          <h3 class="title" translate>
            app.trending
          </h3>
        </div>
        <div>
          <app-tabs [tabs]="tabs" [activeTabIndex]="activeTabIndex" (clicked)="setActiveTab($event)">
          </app-tabs>
        </div>
      </div>
      <div *ngIf="activeTabIndex === 0" class="lg:max-w-full overflow-x-auto">
        <div class="lg:hidden md:grid md:grid-cols-4">
          <ng-container *ngFor="let movie of trending; let i = index; trackBy: trackByFn">
            <div>
              <app-movie-card [movies]="movie" (clicked)="onNavigate(movie.id)"></app-movie-card>
            </div>
          </ng-container>
        </div>
      </div>
      <div *ngIf="activeTabIndex === 1" class="lg:max-w-full overflow-x-auto">
        <div class="hidden lg:block md:hidden mb-2">
          <div class="flex space-x-4">
            <ng-container *ngFor="let movie of trending; let i = index; trackBy: trackByFn">
              <div>
                <app-movie-card [movies]="movie" (clicked)="onNavigate(movie.id)"></app-movie-card>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="lg:hidden md:grid md:grid-cols-4">
          <ng-container *ngFor="let movie of trending; let i = index; trackBy: trackByFn">
            <div>
              <app-movie-card [movies]="movie" (clicked)="onNavigate(movie.id)"></app-movie-card>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- Mobile Version End -->
  </section>
  <!-- Trending Section End -->

  <!-- Popular Section Start -->
  <section>
    <!-- Desktop Version Start -->
    <div class="hidden lg:block md:hidden">
      <div class="flex space-x-4 py-2">
        <div class="flex items-center">
          <h3 class="title" translate>
            app.popular
          </h3>
        </div>
      </div>
      <div class="lg:max-w-full overflow-x-auto">
        <div class="hidden lg:block md:block mb-2">
          <div class="flex space-x-4">
            <ng-container *ngFor="let movie of movies; let i = index; trackBy: trackByFn">
              <div>
                <app-movie-card [movies]="movie" (clicked)="onNavigate(movie.id)"></app-movie-card>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- Desktop Version End -->

    <!-- Mobile Version Start -->
    <div *ngIf="menuId === 1 || isMediumSize">
      <div class="flex space-x-4 py-2 lg:hidden">
        <div class="flex items-center">
          <h3 class="title" translate>
            app.popular
          </h3>
        </div>
      </div>
      <div class="lg:hidden md:grid md:grid-cols-4">
        <ng-container *ngFor="let movie of movies; let i = index; trackBy: trackByFn">
          <div>
            <app-movie-card [movies]="movie" (clicked)="onNavigate(movie.id)"></app-movie-card>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- Mobile Version End -->
  </section>
  <!-- Popular Section End -->

  <!-- Top Rated Section Start -->
  <section>

    <!-- Desktop Version Start -->
    <div class="hidden lg:block md:hidden">
      <div class="flex space-x-4 py-2">
        <div class="flex items-center">
          <h3 class="title" translate>
            app.top
          </h3>
        </div>
      </div>
      <div class="lg:max-w-full overflow-x-auto">
        <div class="hidden lg:block md:hidden mb-2">
          <div class="flex space-x-4">
            <ng-container *ngFor="let movie of topRated; let i = index; trackBy: trackByFn">
              <div>
                <app-movie-card [movies]="movie" (clicked)="onNavigate(movie.id)"></app-movie-card>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- Desktop Version End -->

    <!-- Mobile Version Start -->
    <div *ngIf="menuId === 2 || isMediumSize">
      <div class="flex space-x-4 py-2">
        <div class="flex items-center">
          <h3 class="title" translate>
            app.top
          </h3>
        </div>
      </div>
      <div class="lg:hidden md:grid md:grid-cols-4">
        <ng-container *ngFor="let movie of topRated; let i = index; trackBy: trackByFn">
          <div>
            <app-movie-card [movies]="movie" (clicked)="onNavigate(movie.id)"></app-movie-card>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- Mobile Version End -->
  </section>
  <!-- Top Rated Section End -->

</ng-container>
