<section class="p-6">
    <div class="wrapper h-[400px]" style="background: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/t5zCBSB5xMDKcDqe91qahCOUYVV.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;" alt="image description">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
            <p class="bg-gradient-to-r from-green-300 via-orange-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl">
                Millions of movies, TV shows and people to discover. Explore now.
            </p>
        </div>
    </div>
</section>
<div class="p-6">
    <router-outlet></router-outlet>
</div>
