<div (click)="onNavigate()"
  class="cursor-pointer hidden md:block lg:block w-full lg:w-[200px] h-fit group border-4 border-gray-200 rounded-lg">
  <div class="relative overflow-hidden">
    <img class="h-[300px] lg:h-full w-full object-cover rounded-lg" [lazyLoad]="imageUrls" />

    <div
      class="absolute h-full w-full bg-black/20 flex items-center justify-center -bottom-10 group-hover:bottom-0 opacity-0 group-hover:opacity-100 transition-all duration-300 rounded-lg">
      <div class="card-content absolute top-0">
        <h2 class="title">
          {{ movies?.title | shortenerText : 15 }}
        </h2>
        <p class="description">
          {{ movies?.overview | shortenerText : 200 }}
        </p>
        <p class="absolute bottom-1 text-left tracking-tight text-xs font-bold text-white">
          {{ movies?.release_date }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="sm:hidden py-2">
  <div (click)="onNavigate()">
    <div class="flex max-w-sm w-full bg-white shadow-md rounded-lg overflow-hidden mx-auto">
      <div
        class="overflow-hidden rounded-xl relative transform hover:-translate-y-2 transition ease-in-out duration-500 shadow-lg hover:shadow-2xl movie-item text-white movie-card">
        <div
          class="absolute inset-0 z-10 transition duration-300 ease-in-out bg-gradient-to-t from-black via-gray-900 to-transparent">
        </div>
        <div class="relative cursor-pointer group z-10 px-10 pt-10 space-y-6">
          <div class="align-self-end w-full">
            <div class="h-32"></div>
            <div class="space-y-6 detail_info">
              <div class="flex flex-col space-y-2 inner">
                <h3 class="text-2xl font-bold text-white">
                  {{ movies?.title }}
                </h3>
              </div>
              <div *ngIf="movies" class="flex flex-row justify-between datos">
                <div class="flex flex-col datos_col">
                  <div class="popularity">{{ movies.popularity }}</div>
                  <div class="text-sm text-gray-400">Popularity:</div>
                </div>
                <div class="flex flex-col datos_col">
                  <div class="release">{{ movies.release_date  }}</div>
                  <div class="text-sm text-gray-400">Release date:</div>
                </div>
                <div class="flex flex-col datos_col">
                  <div class="release">{{ movies.vote_average }}</div>
                  <div class="text-sm text-gray-400">Average:</div>
                </div>
              </div>
              <div class="flex flex-col overview">
                <div class="flex flex-col"></div>
                <div class="text-xs text-gray-400 mb-2">Overview:</div>
                <p class="text-xs text-gray-100 mb-6">
                  {{ movies?.overview | shortenerText : 100 }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <img class="absolute inset-0 transform w-full -translate-y-4" [src]="imageUrls" />
      </div>
    </div>
  </div>
</div>
