<section class="bg-white">
    <div class="wrapper">
        <nav>
            <div *ngFor="let item of menu">
                <a href="javascript:void(0)">
                    {{ item }}
                </a>
            </div>
        </nav>
        <div class="icons-wrapper">
          <div *ngFor="let item of social">
            <a href="javascript:void(0)">
                <span class="sr-only">{{ item.name }}</span>
                <img [src]="item.icons" class="h-6 w-6" alt="Social Media">
            </a>
          </div>
        </div>
        <p>
            © 2021 Admit One, Inc. All rights reserved.
        </p>
    </div>
</section>
