<section>
  <div *ngIf="movie" class="wrapper" [lazyLoad]="imageUrls" alt="image description">
    <div>
      <button class="fav-wrap" (click)="toggleFavorite()">
        <img *ngIf="!isFavorite" [src]="favIcon" alt="Fav White" class="h-10 w-10" />
        <img *ngIf="isFavorite" [src]="favRedIcon" alt="Fav Red" class="h-10 w-10" />
      </button>
    </div>
    <div class="title">
      <h1>
        {{ movie.title }}
      </h1>
      <h3 class="tagline">{{ movie.tagline }}</h3>
      <div class="overview">
        <h3>Overview</h3>
        <p> {{ movie!.overview }} </p>
      </div>
      <div class="description">
        <div class="flex-column">
          <h3>Release Date</h3>
          <h4>{{ movie.release_date }}</h4>
        </div>
        <div class="flex-column">
          <h3>Runtime</h3>
          <h4>{{ movie.runtime }} min</h4>
        </div>
        <div class="flex-column">
          <h3>Genre</h3>
          <div *ngFor="let item of movie.genres">
            <span class="font-medium text-white">{{ item.name }} </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="poster-wrap">
      <div class="relative overflow-hidden">
        <img class="poster" [lazyLoad]="poster" />
      </div>
    </div>
  </div>
</section>
